/* .navbar-default {
  background-color: #ff8800;
} */
/* 
.navbar,
.navbar-default {
  background-image: purple !important; /* override background image gradient w/ flat color */
/* }  */
/* 
.menustyle {
  width: 650px;
  background: "blue";
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.link {
  font-size: 20px;
  color: white;
}

ul {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
} */
