.App {
  /* text-align: center; */
  /* border: 3px solid rgb(145, 219, 7); */
}

.show-grid {
  background-color: #f5610b;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.menu-col {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(208, 255, 0); */
}

.social-media {
  /* border: 2px solid rgb(185, 252, 3); */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* }
.App-header {
  display: grid;
  grid-template-columns: auto auto auto;
} */

.App-footer {
  /* background-color: hsl(249, 100%, 66%); */
  /* background-color: hsl(27, 98%, 67%); */
  /* background-color: rgb(244, 223, 66); */
  /* background-color: rgb(244, 202, 65); */
  /* background-color: #2b7ae5; */
  background-color: #333;

  /* background-color: rgb(243, 180, 8); */
  /* background-color: rgb(245, 244, 240); */

  height: 70px;
  padding: 15px;
  color: white;
  /* border: 2px solid black; */
  display: grid;
  grid-template-columns: auto auto auto;
}

.App-title {
  font-size: 1.5em;
}

.App-body {
  font-size: large;
  color: #ee3609;
  font-size: 22px;
  font-family: "Josefin Slab", serif;

  /* color: yellow; */
  /* height: 260px; */
  /* border: 2px solid #f5610b; */
  /* padding-left: 650px;
  padding-right: 60px;
  padding-top: 60px; */
}

.lastCol {
  /* border: 2px solid red; */
  height: 380px;
}

.firstCol {
  /* border: 2px solid #0b55f5; */
}

.secondCol {
  /* border: 2px solid yellow; */
}

.row1,
.row3 {
  height: 120px;
  /* border: 2px solid green; */
}
/* 
.font-color {
  color: #f5610b;
} */
/* 
.App-intro {
  font-size: large;
  color: yellow;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .App-body {
    /* color: rgb(219, 216, 6); */
    color: hsl(249, 100%, 66%);
    padding-top: 10em;
    size: 20px;
  }
}

img.bg {
  /* Set rules to fill background */
  /* min-height: 100%; */
  /* min-width: 1024px; */

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  /* position: fixed; */
  top: 0;
  left: 0;
}

.sectionStyle {
  width: 100%;
  height: 800px;
  background-size: cover;
}

.menustyle {
  /* background-color: yellow; */
}

/* 
.container {
  border: 2px solid blue;
} */

.App-body.App-intro {
  font-family: "Josefin Slab", serif;
}
